@use '../constants';

.rf-ctrl .error-message {
	color: constants.$error-color;
	padding: .2rem;
	border-radius: .2rem;
	font-weight: bold;

	&.hidden {
		visibility: hidden;
	}

	&.collapsed {
		padding: 0;
	}
}