.rf-ctrl {

	// adjust radio & checkbox inputs
	input[type=radio],
	input[type=checkbox] {

		// undo block display from Inputs.scss
		display: unset;

		// add some margin so that the label isn't too close
		margin-right: 0.5rem;

		// we like our checkboxes a bit bigger
		width: 1.2rem;
		height: 1.2rem;
	}
}
