@use '../constants';

.text,
.select,
.checkbox {

	&.input,
	&.area {

		input,
		textarea,
		select {
			// box sizing is necessary to have the input respect the parent's padding 
			box-sizing: border-box;
			width: 100%;
			margin: 0.5rem 0;
			border-radius: constants.$border-radius;
			padding: 0.5rem;
			font-size: 1.2rem;

			// make input behave like div and fill its parent
			display: block;

			&:disabled {
				cursor: not-allowed;
				background-color: #007067;
				opacity: 1.0;
			}
		}

		&.has-errors {

			input,
			textarea,
			select {
				border-color: constants.$error-color;
				background-color: constants.$error-background-color;
			}
		}
	}
}