@use '../constants';

button {
	border: constants.$input-border;
	border-radius: constants.$border-radius;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	font-weight: bold;
	cursor: pointer;

	&:hover {
		border: constants.$input-border-hover;
	}

	&:focus {
		border: constants.$input-border-focus;
		outline: none;
	}

	&.primary {
		background-color: constants.$primary-button-yellow;
		color: constants.$primary-green-solid;
	}

	&.secondary {
		background-color: constants.$secondary-button-white;
	}

	&.is-hidden {
		visibility: hidden;
	}

	&:disabled {
		cursor: not-allowed;
		color: #00000055;
	}
}